<div class="container">
    <div class="card">
      <div class="card-header p-4">
        <h5 class="mb-0">
          <i class="fa-solid fa-user-plus me-3"></i>Registro de un nuevo evento
        </h5>
      </div>
      <div class="card-body p-4">
        <form [formGroup]="crearEventoForm" (ngSubmit)="crearEvento()" novalidate>
            <div class="col-6">
                <label>Nombre: </label>
                <input type="text" class="form-control" formControlName="nombre" />
            </div>
        
            <div class="col-6">
                <label>Descripción: </label>
                <textarea formControlName="descripcion" class="form-control"></textarea>   
            </div>
        
            <div class="col-6">
                <label class="form-label">Tipo: </label>
                <select formControlName="tipo" class="form-select" >
                    <option value="">Seleccione un tipo</option>
                    @for (item of tiposDeEvento; track $index) {
                        <option value="{{item}}">{{item}}</option>
                    }
                </select>
             </div>
        
            <div class="col-6">
                <label>Dirección: </label>
                <input type="text" class="form-control" formControlName="direccion" />
            </div>
        
            <div class="col-6">
                <label>Ciudad: </label>
                <input type="text" class="form-control" formControlName="ciudad" />
            </div>
        
            <!-- Localidades dinámicas -->
            <div class="col-6" formArrayName="localidades">
                <label>Localidades</label>
                <div>
                    <button type="button" class="btn btn-primary" (click)="agregarLocalidad()">Añadir Localidad</button>
                </div>

                <div *ngFor="let localidad of localidades.controls; let i = index" [formGroupName]="i">
                    <label>Nombre de la Localidad:</label>
                    <input type="text" class="form-control"  formControlName="nombreLocalidad" />
                    
                    <label>Precio:</label>
                    <input type="number" class="form-control" formControlName="precio" />
        
                    <div>
                        <button type="button" class="btn btn-primary" (click)="eliminarLocalidad(i)">Eliminar</button>
                    </div>
                </div>

            </div>
        
            <div class="col-6">
                <label>Imagen evento: </label>
                <input type="file" class="form-control" (change)="onFileChange($event, 'portada')" />
            </div>
        
            <div class="col-6">
                <label>Imagen localidades: </label>
                <input type="file" class="form-control" (change)="onFileChange($event, 'localidades')" />
            </div>
        
            <div class="col-14 text-center">
                <button type="submit" class="btn btn-primary">Crear evento</button>
            </div>

        </form>
      </div>
    </div>
   </div>
