<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="card border-0 p-4" style="background-color: rgba(87, 77, 77, 0.167); max-width: 500px; margin-top: -190px;">
        
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <h4 class="text-center title-red mb-4" style="font-size: 1.7em; font-family: 'ADLaM Display', system-ui; color: #ff0000;">
            EDITAR TUS DATOS PERSONALES
        </h4>
        
        <!-- Línea superior -->
        <hr style="border-top: 1px solid #d3d3d3; margin: 0;">
        
        <h6 class="text-center text-white my-2">Número de cliente: <span class="font-weight-bold text-white">9746335</span></h6>
        
        <!-- Línea inferior -->
        <hr style="border-top: 1px solid #d3d3d3; margin: 0;">

        <form>
            <div class="form-group mt-3">
                <label for="email" class="text-white">Correo electrónico</label>
                <input type="email" class="form-control readonly" id="email" value="danielalosada202@gmail.com" readonly>
            </div>
            
            <h5 class="section-title mt-4">Datos personales</h5>
            <div class="form-group">
                <label for="nombre" class="text-white">Nombre</label>
                <input type="text" class="form-control" id="nombre" value="Daniela Isabel">
            </div>
            <div class="form-group">
                <label for="apellido" class="text-white">Apellido</label>
                <input type="text" class="form-control" id="apellido" value="Losada Ramirez">
            </div>
            <div class="form-group">
                <label for="cedula" class="text-white">Cédula</label>
                <input type="text" class="form-control" id="cedula" value="1139875525">
            </div>
            <div class="form-group">
                <label for="direccion" class="text-white">Dirección</label>
                <input type="text" class="form-control" id="direccion" value="Barrio las colinas Mz 4 casa 8">
            </div>
            <div class="form-group">
                <label for="telefono" class="text-white">Teléfono</label>
                <input type="text" class="form-control" id="telefono" value="3142678018">
            </div>
            
            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-danger font-weight-bold">Guardar</button>
            </div>
            
        </form>
    </div>
</div>