<div class="container mt-5 mb-5" style=" height: auto;">
    <!-- Sección de frases fuera del contenedor de búsqueda -->
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <div class="text-center mb-4" style="margin-top: -120px;">
      <h2 style="font-size: 1.8rem; font-family: 'ADLaM Display', system-ui;">
        ¡El Futuro del Entretenimiento <span style="color: red; font-family: 'ADLaM Display', system-ui;">Está Aquí!</span>
      </h2>
      <p style="font-size: 1.2rem; font-family: 'Montserrat', sans-serif; letter-spacing: 0.20rem;">
        A s e g u r a  Tu  lugar  en  los  eventos  más  emocionantes
      </p>
    </div>

    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Título de eventos con línea roja debajo de tamaño ajustado al texto -->
    <h4 class="text-left" style="font-size: 1.7em; margin-bottom: 0rem; font-family: 'ADLaM Display', system-ui; color: #ff0000; display: inline-block;">
        TODOS LOS EVENTOS
    </h4>
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <div class="row row-cols-1 g-4 mt-3">
      <div *ngFor="let evento of eventos" class="col">
        <div class="card mb-3" style="max-width: 900px; background-color: rgba(87, 77, 77, 0.167);">
          <div class="row g-0">
            <div class="col-md-3 position-relative">
              <img [src]="evento.urlImagenPoster" class="img-fluid rounded-start w-100" style="width: 98%; height: 222px; object-fit: cover;"(click)="irADetalle(evento.nombre)">
            </div>
            <div class="col-md-7">
              <div class="card-body position-relative">
                <h5 class="card-title" style="font-size: 22px; color: white; font-family: 'ADLaM Display', system-ui;">{{ evento.nombre }}</h5>
                <p class="card-text" style="font-size: 1rem; margin-top: -5px; color: white; font-family: 'Montserrat', sans-serif; font-weight: bold;">
                  Información General
                </p>
                <p class="card-text" style="color: #ff0000; font-weight: bold; margin-bottom: 6px;">Lugar: <span style="color: white;">{{ evento.direccion }}</span></p>
                <p class="card-text" style="color: #ff0000; font-weight: bold; margin-bottom: 6px;">Categoría: <span style="color: white;">{{ evento.tipoEvento }}</span></p>
                <p class="card-text" style="color: #ff0000; font-weight: bold; margin-bottom: 6px;">Fecha: <span style="color: white;">{{ evento.fecha }}</span></p>
    
                <!-- Botón en la parte inferior derecha -->
                <div style="position: absolute; bottom: 20px; right: 10px;">
                  <button class="btn" (click)="irACompra(evento.nombre)" style="font-size: 1.0rem; padding: 0.3rem 1.5rem; background-color: #ff0000; color: white; border-radius: 5px;">
                    Comprar Entrada
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>
  
