<div class="container mt-5 mb-5" style="margin-top: -900px; height: 130vh;">
    <div style="margin-top: -100px; text-align: center;">
        <h2 style="font-size: 2rem; font-family: 'ADLaM Display', system-ui; color: #ffffff; margin-bottom: 10px; display: inline-block;">
            RECOMENDACIONES
            <span style="display: block; width: 100%; height: 4px; background-color: red; margin-top: 5px;"></span>
        </h2>
        <p style="font-family: 'Montserrat', system-ui; color: #ffffff; font-size: 1.2rem; margin-top: 10px;">
            Hemos visto tu historial de compras y tenemos algunos eventos sugeridos para ti.
        </p>
    </div>

    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Título de eventos con línea roja debajo de tamaño ajustado al texto -->


    <!-- Contenedor de tarjetas de eventos con espacio reducido entre tarjetas -->
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
        <!-- Tarjeta de evento -->
        <div class="col" >
          <div class="card text-center shadow-sm" style="width: 100%; height: 350px; border-radius: 15px; background-color: #ffffff; color: #000000;">
            <div class="position-relative">
              <img src="https://firebasestorage.googleapis.com/v0/b/unieventos-54199.appspot.com/o/evento2.png?alt=media&token=f8d1bb0a-21ab-4b25-be0a-9a0650a416fe" class="card-img-top" alt="Evento" style="width: 100%; height: 226px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px; cursor: pointer;" routerLink="/detalle-evento/:id">
            </div>
            <div class="card-body">
              <h5 class="card-title" style="font-size: 18px; font-family: 'ADLaM Display', system-ui;">CONCIERTO DE TEMPORADA</h5>
              <p class="card-text text-muted" style="font-size: 1rem; margin-top: -5px; font-family: 'Montserrat', sans-serif; font-weight: bold;">Teatro municipal</p>
              <div class="d-flex justify-content-between align-items-center">
                <div style="text-align: center; margin-top: -20px;">
                  <span style="font-size: 1.4rem; font-weight: bold; color: red; display: block;">22</span>
                  <span style="font-size: 1rem; font-weight: normal; font-family: 'Montserrat', sans-serif; display: block;">Ago 2024</span>
                </div>
                <button class="btn btn-danger" routerLink="/inicio-compra" style="font-size: 0.8rem; padding: 0.3rem 0.6rem; border-radius: 5px;">Compra ya</button>
              </div>
            </div>
          </div>
        
        </div>
    

        <!-- Duplicar más tarjetas aquí para mostrar ejemplos -->
        <div class="col">
            <div class="card text-center shadow-sm" style="width: 100%; height: 350px; border-radius: 15px; background-color: #ffffff; color: #000000;">
              <div class="position-relative">
                <img src="https://firebasestorage.googleapis.com/v0/b/unieventos-54199.appspot.com/o/evento2.png?alt=media&token=f8d1bb0a-21ab-4b25-be0a-9a0650a416fe" class="card-img-top" alt="Evento" style="width: 100%; height: 226px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;">
              </div>
              <div class="card-body">
                <h5 class="card-title" style="font-size: 18px; font-family: 'ADLaM Display', system-ui;">CONCIERTO DE TEMPORADA</h5>
                <p class="card-text text-muted" style="font-size: 1rem; margin-top: -5px; font-family: 'Montserrat', sans-serif; font-weight: bold;">Teatro municipal</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div style="text-align: center; margin-top: -20px;">
                    <span style="font-size: 1.4rem; font-weight: bold; color: red; display: block;">22</span>
                    <span style="font-size: 1rem; font-weight: normal; font-family: 'Montserrat', sans-serif; display: block;">Ago 2024</span>
                  </div>
                  <button class="btn btn-danger" style="font-size: 0.8rem; padding: 0.3rem 0.6rem; border-radius: 5px;">Editar evento</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Código de tarjeta duplicada -->
        


          <div class="col">
            <div class="card text-center shadow-sm" style="width: 100%; height: 350px; border-radius: 15px; background-color: #ffffff; color: #000000;">
              <div class="position-relative">
                <img src="https://firebasestorage.googleapis.com/v0/b/unieventos-54199.appspot.com/o/evento2.png?alt=media&token=f8d1bb0a-21ab-4b25-be0a-9a0650a416fe" class="card-img-top" alt="Evento" style="width: 100%; height: 226px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px; cursor: pointer;" routerLink="/detalle-evento/:id">
              </div>
              <div class="card-body">
                <h5 class="card-title" style="font-size: 18px; font-family: 'ADLaM Display', system-ui;">CONCIERTO DE TEMPORADA</h5>
                <p class="card-text text-muted" style="font-size: 1rem; margin-top: -5px; font-family: 'Montserrat', sans-serif; font-weight: bold;">Teatro municipal</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div style="text-align: center; margin-top: -20px;">
                    <span style="font-size: 1.4rem; font-weight: bold; color: red; display: block;">22</span>
                    <span style="font-size: 1rem; font-weight: normal; font-family: 'Montserrat', sans-serif; display: block;">Ago 2024</span>
                  </div>
                  <button class="btn btn-danger" style="font-size: 0.8rem; padding: 0.3rem 0.6rem; border-radius: 5px;">Editar evento</button>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col">
            <div class="card text-center shadow-sm" style="width: 100%; height: 350px; border-radius: 15px; background-color: #ffffff; color: #000000;">
              <div class="position-relative">
                <img src="https://firebasestorage.googleapis.com/v0/b/unieventos-54199.appspot.com/o/evento2.png?alt=media&token=f8d1bb0a-21ab-4b25-be0a-9a0650a416fe" class="card-img-top" alt="Evento" style="width: 100%; height: 226px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;">
              </div>
              <div class="card-body">
                <h5 class="card-title" style="font-size: 18px; font-family: 'ADLaM Display', system-ui;">CONCIERTO DE TEMPORADA</h5>
                <p class="card-text text-muted" style="font-size: 1rem; margin-top: -5px; font-family: 'Montserrat', sans-serif; font-weight: bold;">Teatro municipal</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div style="text-align: center; margin-top: -20px;">
                    <span style="font-size: 1.4rem; font-weight: bold; color: red; display: block;">22</span>
                    <span style="font-size: 1rem; font-weight: normal; font-family: 'Montserrat', sans-serif; display: block;">Ago 2024</span>
                  </div>
                  <button class="btn btn-danger" style="font-size: 0.8rem; padding: 0.3rem 0.6rem; border-radius: 5px;">Editar evento</button>
                </div>
              </div>
            </div>
          </div>

        
          <div class="col">
            <div class="card text-center shadow-sm" style="width: 100%; height: 350px; border-radius: 15px; background-color: #ffffff; color: #000000;">
              <div class="position-relative">
                <img src="https://firebasestorage.googleapis.com/v0/b/unieventos-54199.appspot.com/o/evento2.png?alt=media&token=f8d1bb0a-21ab-4b25-be0a-9a0650a416fe" class="card-img-top" alt="Evento" style="width: 100%; height: 226px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;">
              </div>
              <div class="card-body">
                <h5 class="card-title" style="font-size: 18px; font-family: 'ADLaM Display', system-ui;">CONCIERTO DE TEMPORADA</h5>
                <p class="card-text text-muted" style="font-size: 1rem; margin-top: -5px; font-family: 'Montserrat', sans-serif; font-weight: bold;">Teatro municipal</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div style="text-align: center; margin-top: -20px;">
                    <span style="font-size: 1.4rem; font-weight: bold; color: red; display: block;">22</span>
                    <span style="font-size: 1rem; font-weight: normal; font-family: 'Montserrat', sans-serif; display: block;">Ago 2024</span>
                  </div>
                  <button class="btn btn-danger" style="font-size: 0.8rem; padding: 0.3rem 0.6rem; border-radius: 5px;">Editar evento</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card text-center shadow-sm" style="width: 100%; height: 350px; border-radius: 15px; background-color: #ffffff; color: #000000;">
              <div class="position-relative">
                <img src="https://firebasestorage.googleapis.com/v0/b/unieventos-54199.appspot.com/o/evento2.png?alt=media&token=f8d1bb0a-21ab-4b25-be0a-9a0650a416fe" class="card-img-top" alt="Evento" style="width: 100%; height: 226px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;">
              </div>
              <div class="card-body">
                <h5 class="card-title" style="font-size: 18px; font-family: 'ADLaM Display', system-ui;">CONCIERTO DE TEMPORADA</h5>
                <p class="card-text text-muted" style="font-size: 1rem; margin-top: -5px; font-family: 'Montserrat', sans-serif; font-weight: bold;">Teatro municipal</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div style="text-align: center; margin-top: -20px;">
                    <span style="font-size: 1.4rem; font-weight: bold; color: red; display: block;">22</span>
                    <span style="font-size: 1rem; font-weight: normal; font-family: 'Montserrat', sans-serif; display: block;">Ago 2024</span>
                  </div>
                  <button class="btn btn-danger" style="font-size: 0.8rem; padding: 0.3rem 0.6rem; border-radius: 5px;">Editar evento</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

 
  