<div class="container" style="max-width: 80%; color: white; padding: 20px; border-radius: 10px; margin: 0 auto;">
  <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  
  <!-- Título principal -->
  <h3 style="text-align: left; color: white; font-family: 'ADLaM Display', sans-serif; font-size: 1.5rem; padding-bottom: 5px; margin-top: -80px;">
    {{evento?.nombre}}
  </h3>
  <hr style="border-top: 1px solid white; width: 100%; margin: 0 auto 20px auto;">
  
  <!-- Información general y descripción -->
  <div class="row justify-content-center">
      <div class="col-md-5">
          <img [src]="evento?.imagenPortada"
               class="img-fluid" 
               alt="Imagen del evento" 
               style="width: 100%; height: auto; border-radius: 5px; margin-right: 20px;">
      </div>
      <div class="col-md-7">
          <h4 style="font-family: Arial, sans-serif; color: white; font-style: italic; margin-top: 10px;">Información general</h4>
          <p style="color: #ff0000; font-weight: bold; font-size: 1.1rem;">Ciudad: <span style="color: white;">{{evento?.ciudad}}</span></p>
          <p style="color: #ff0000; font-weight: bold; font-size: 1.1rem;">Dirección: <span style="color: white;">{{evento?.direccion}}</span></p>
          <p style="color: #ff0000; font-weight: bold; font-size: 1.1rem;">Fecha: <span style="color: white;">{{evento?.fecha}}</span></p>
          <p style="color: #ff0000; font-weight: bold; font-size: 1.1rem;">Hora: <span style="color: white;">{{evento?.fecha}}</span></p>
          <p style="color: #ff0000; font-weight: bold; font-size: 1.1rem;">Categoría: <span style="color: white;">{{evento?.tipoEvento}}</span></p>
          
          <!-- Descripción alineada -->
          <p style="text-align: justify; color: white; font-family: Montserrat, sans-serif; font-size: 1.1rem; line-height: 1.6; margin-top: 20px;">
            {{evento?.descripcion}}
          </p>
      </div>
  </div>
  
  <!-- Título de Ubicación y Precios, fuera del div.row -->
  <h3 style="text-align: left; color: white; font-family: 'ADLaM Display', sans-serif; font-size: 1.5rem; padding-bottom: 5px; margin-top: 60px;">
    UBICACIÓN Y PRECIOS
  </h3>
  
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered text-center" style="color: white; border-color: white; background-color: transparent; margin-top: 20px;">
        <thead>
          <tr>
            <th style="border-color: white; color: #ff0000; background-color: transparent; border-width: 2px; padding: 15px;">Ubicación</th>
            <th style="border-color: white; color: #ff0000; background-color: transparent; border-width: 2px; padding: 15px;">Precio</th>
            <th style="border-color: white; color: #ff0000; background-color: transparent; border-width: 2px; padding: 15px;">Aforo</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí se itera sobre la lista de localidades -->
          <tr *ngFor="let localidad of evento?.listaLocalidades">
            <td style="color: lime; border-color: white; background-color: transparent; border-width: 2px; padding: 20px; line-height: 1.8;">
              {{ localidad.nombre }}
            </td>
            <td style="border-color: white; color: white; background-color: transparent; border-width: 2px; padding: 20px; line-height: 1.8;">
              {{ localidad.precio | currency:'COP' }}
            </td>
            <td style="border-color: white; color: white; background-color: transparent; border-width: 2px; padding: 20px; line-height: 1.8;">
              {{ localidad.aforo }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  
  
    <!-- Image beside the table -->
    <div class="col-md-5">
      <img [src]="evento?.imagenLocalidades"
           class="img-fluid" 
           alt="Imagen del evento" 
           style="width: 80%; height: auto; border-radius: 5px; margin-left: auto; display: block;">
    </div>
    
  </div>
  
  <!-- Botón de compra -->

  <div class="text-center mt-4" style="max-width: 400px; margin: auto;">
    <button type="button" class="btn btn" (click)="irACompra(evento?.nombre)" style="font-size: 1.2rem; color:#ffffff; padding: 0.2rem; width: 40%;">
      Realizar compra
    </button>
  </div>
  
  <!-- Recomendaciones Section -->
  <h3 style="text-align: left; color: white; font-family: 'ADLaM Display', sans-serif; font-size: 1.5rem; padding-bottom: 5px; margin-top: 40px;">
    RECOMENDACIONES
  </h3>
  <h4 style="font-family: Arial, sans-serif; color: white; font-style: italic; margin-top: 10px;">Elige tu alojamiento</h4>

  <div style="text-align: left;">
    <img src="https://firebasestorage.googleapis.com/v0/b/unieventos-54199.appspot.com/o/Captura%20de%20pantalla%202024-11-12%20221838.png?alt=media&token=2db71470-518a-440b-a772-227dba1bf874" 
         class="img-fluid" 
         alt="Imagen de recomendaciones" 
         style="width: 50%; height: auto; border-radius: 5px; margin-top: 10px;">
  </div>
</div>

