<div class="container mt-4 text-white bg-dark p-4 rounded">
    <div class="text-center border-bottom border-secondary pb-3 mb-4">
      <h2 class="text-uppercase">{{ evento?.nombre }} - {{ evento?.ciudad }}</h2>
    </div>
  
    <div class="row">
      <div class="col-md-6 text-center">
        <img [src]="evento?.imagenPortada" alt="Imagen del evento" class="img-fluid rounded w-100">
      </div>
      <div class="col-md-6">
        <h4 class="mb-3">Información general</h4>
        <p><strong>Lugar:</strong> {{ evento?.direccion }}</p>
        <p><strong>Ciudad:</strong> {{ evento?.ciudad }}</p>
        <p><strong>Fecha:</strong> {{ evento?.fecha | date: 'yyyy-MM-dd' }}</p>
        <p><strong>Hora:</strong> {{ evento?.fecha | date: 'shortTime' }}</p>
        <p><strong>Categoría:</strong> {{ evento?.tipo }}</p>
        <p><strong>Estado:</strong> <span [ngClass]="{'text-success': evento?.estado === 'Activo', 'text-danger': evento?.estado !== 'Activo'}">{{ evento?.estado }}</span></p>
        <p><strong>Responsable:</strong> Eventos Sirvalo Pues S.A.S.</p>
        <p><strong>Dirección:</strong> Cra 13 #64 - 79</p>
        <p><strong>Nit:</strong> 901447521-3</p>
        <p><strong>Apertura puertas:</strong> 2:00 p.m.</p>
      </div>
    </div>
  </div>
  
  
  