<form [formGroup]="editarEventoForm" (ngSubmit)="crearEvento()" novalidate>
    <h2>Editar evento</h2>
    <div>
        <label>Nombre: </label>
        <input type="text" formControlName="nombre" />
    </div>

    <div>
        <label>Descripción: </label>
        <textarea formControlName="descripcion"></textarea>   
    </div>

    <div>
        <label>Tipo: </label>
        <select formControlName="tipo">
            <option value="">Seleccione un tipo</option>
            <ng-container *ngFor="let item of tiposDeEvento">
                <option [value]="item">{{item}}</option>
            </ng-container>
        </select>
    </div>

    <div>
        <label>Dirección: </label>
        <input type="text" formControlName="direccion" />
    </div>

    <div>
        <label>Ciudad: </label>
        <input type="text" formControlName="ciudad" />
    </div>

    <!-- Localidades dinámicas -->
    <div formArrayName="localidades">
        <h3>Localidades</h3>
        <button type="button" (click)="agregarLocalidad()">Añadir Localidad</button>
        
        <div *ngFor="let localidad of localidades.controls; let i = index" [formGroupName]="i">
            <label>Nombre de la Localidad:</label>
            <input type="text" formControlName="nombreLocalidad" />
            
            <label>Precio:</label>
            <input type="number" formControlName="precio" />

            <button type="button" (click)="eliminarLocalidad(i)">Eliminar</button>
        </div>
    </div>

    <div>
        <label>Imagen evento: </label>
        <input type="file" (change)="onFileChange($event, 'portada')" />
    </div>

    <div>
        <label>Imagen localidades: </label>
        <input type="file" (change)="onFileChange($event, 'localidades')" />
    </div>

    <button type="submit">Editar evento</button>
    <button type="reset">Eliminar evento</button>
</form>

