<div class="container order-container mt-3">
    <a href="#" routerLink="/inicio" class="text-danger salir-link">Salir</a>
    <div class="order-header d-flex justify-content-between">
        <p class="date">2024-09-06</p>
        <p class="order-number"><strong>Orden:</strong> ORD123456</p>
    </div>
    <div class="text-center mb-3">
        <h4>Orden de compra</h4>
    </div>
    <div class="order-details">
        <p><strong>Código del Cliente:</strong> CLT78910</p>
        <p><strong>Código del Evento:</strong> EVT456</p>
        <p><strong>Localidad:</strong> Platea</p>
        <p><strong>Unidades:</strong> 3</p>
        <p><strong>Precio Individual:</strong> $510.000 COP</p>
        <p><strong>Cupon Utilizado:</strong> SUPERDESCUENTO – 15%</p>
        <p class="total"><strong>Total:</strong> $433.500 COP</p>
    </div>
    <div class="payment-info mt-4">
        <h5>Información del Pago:</h5>
        <p><strong>Método de Pago:</strong> MercadoPago - PSE</p>
        <p><strong>ID de Transacción:</strong> TXN987654321</p>
    </div>
    <div class="qr-container text-center mt-4">
        <img src="https://firebasestorage.googleapis.com/v0/b/unieventos-54199.appspot.com/o/order-67088eaf250d9d6683010dac-qr.png?alt=media&token=2c17bbf2-5353-4459-b464-700537ece3d8" alt="QR Code" class="qr-code">
    </div>
</div>
