<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 header-custom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a routerLink="/inicio" class="d-inline-flex link-body-emphasis text-decoration-none align-items-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/unieventos-54199.appspot.com/o/logo.png?alt=media&token=91a616c8-5cbe-440a-8acc-e729f2bdaefc" alt="Icono" class="fs-3 icono">
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-end mb-md-0"></ul>

        <div class="col-md-4 d-flex align-items-center justify-content-end" style="margin-top: -70px;">
            <!-- Contenedor de íconos alineados a la izquierda -->
            <div class="d-flex align-items-center me-3">
                <i routerLink="/inicio" class="fa-solid fa-house fa-xl" style="color: #ffffff; margin-right: 45px; font-size: 1.5rem;"></i>
                <i routerLink="/carrito" class="fa-solid fa-cart-shopping fa-xl" style="color: #ffffff; margin-right: 45px; font-size: 1.5rem;"></i>
                <i routerLink="/recomendados" class="fa-solid fa-star fa-xl" style="color: #ffffff; font-size: 1.5rem;"></i>
            </div>

            <!-- Botones de texto alineados a la derecha -->
            <button type="button" routerLink="/eventos" class="btn btn-outline custom-font me-3">Eventos</button>
            <!-- Botón que abre el offcanvas -->
            <button class="btn btn-outline custom-font me-3" style="padding: 0; white-space: nowrap;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
                Señora Daniela Losada
            </button>
            <button type="button" routerLink="/inicio" class="btn custom-font text-button">Salir</button>
        </div>
    </header>
</div>

<!-- Menú Offcanvas -->
<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title custom-title" id="offcanvasMenuLabel">Mi cuenta</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav flex-column pe-3">
            <!-- Texto de sección sin enlace -->
            <li class="nav-item">
                <span class="menu-section-title highlight-red">Configuración de la cuenta</span>
            </li>
            <li class="nav-item">
                <a class="custom-button" routerLink="/perfil-usuario" data-bs-dismiss="offcanvas">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="custom-button" routerLink="/eliminar-cuenta"href="#" data-bs-dismiss="offcanvas">Eliminar cuenta</a>
            </li>
            <!-- Otro texto de sección sin enlace -->
            <li class="nav-item">
                <span class="menu-section-title highlight-red">Boletas</span>
            </li>
            <li class="nav-item">
                <a class="custom-button" routerLink="/historial-compra" data-bs-dismiss="offcanvas">Historial de compras</a>
            </li>
        </ul>
    </div>
</div>




