<div class="container d-flex align-items-center justify-content-center" style="margin-top: -90px; height: 100vh;">
  <div class="card text-white" style="background-color: transparent; max-width: 1000px; padding: 2rem;">
    <div class="card-body">
      <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      
      <h4 class="text-center" style="font-size: 2rem; margin-bottom: 2rem; font-family: 'ADLaM Display', system-ui; color: #ff0000;">
        ¡Crea tu cuenta!
      </h4>

      <form class="row g-3" [formGroup]="registroForm" (ngSubmit)="registrar()">
        <h5 class="text-left w-100" style="font-size: 1.5rem; margin-bottom: 3rem;">
          Datos personales  
          <i class="fa-solid fa-user fa-xs" style="color: #ff0000; margin-left: 0.5rem;"></i>           
        </h5>
        <div class="row">
          <div class="col-6 mb-4">
            <label style="font-size: 1.2rem;">Nombre:</label>
            <input type="text" class="form-control border" formControlName="nombre" 
                   style="font-size: 1.1rem; background-color: #ffffff; border: 2px solid #ff0000!important; color: #000;" />
          </div>

          <div class="col-6 mb-4">
            <label style="font-size: 1.2rem;">Cédula:</label>
            <input type="text" class="form-control border" formControlName="cedula" 
                   style="font-size: 1.1rem; background-color: #ffffff; border: 2px solid #ff0000!important; color: #000;" />
          </div>

          <div class="col-6 mb-4">
            <label style="font-size: 1.2rem;">Teléfono:</label>
            <input type="number" class="form-control border" formControlName="telefono" 
                   style="font-size: 1.1rem; background-color: #ffffff; border: 2px solid #ff0000!important; color: #000;" />
          </div>

          <div class="col-6 mb-4">
            <label style="font-size: 1.2rem;">Dirección:</label>
            <input type="text" class="form-control border" formControlName="direccion" 
                   style="font-size: 1.1rem; background-color: #ffffff; border: 2px solid #ff0000!important; color: #000;" />
          </div>
        </div>

        <h5 class="text-left w-100" style="font-size: 1.5rem; margin-bottom: 3rem;">
          Credenciales de acceso
          <i class="fa-solid fa-address-card fa-xs" style="color: #ff0000; margin-left: 0.5rem;"></i>
        </h5>

        <div class="row">
          <div class="col-6 mb-4">
            <label style="font-size: 1.2rem;">Email:</label>
            <input type="email" class="form-control border" formControlName="email" 
                   style="font-size: 1.1rem; background-color: #ffffff; border: 2px solid #ff0000!important; color: #000;" />
          </div>

          <div class="col-6 mb-4">
            <label style="font-size: 1.2rem;">Contraseña:</label>
            <input type="password" class="form-control border" formControlName="password" 
                   style="font-size: 1.1rem; background-color: #ffffff; border: 2px solid #ff0000!important; color: #000;" />
          </div>

          <div class="col-6 mb-4">
            <label style="font-size: 1.2rem;">Confirma contraseña:</label>
            <input type="password" class="form-control border" formControlName="confirmaPassword" 
                   style="font-size: 1.1rem; background-color: #ffffff; border: 2px solid #ff0000!important; color: #000;" />
          </div>
        </div>

        <!-- Error message for password mismatch -->
        @if (registroForm.hasError('passwordsMismatch')) {
          <div class="alert alert-danger" role="alert">Las contraseñas no coinciden</div>
        }

        <div class="col-12 text-center">
          <button type="submit" class="btn btn" [disabled]="registroForm.invalid" style="font-size: 1.2rem; color:#ffffff; padding: 0.4rem; width: 35%;">
            Registrarme
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
