/* estilos.css */
.input-group-text, .form-control, .form-select {
    border: 2px solid red !important;
    border-radius: 5px;
  }
  .text-center.mb-4 {
    background-color: transparent; /* Cambia este color según el fondo deseado */
    padding: 20px; /* Ajusta el espaciado */
    min-height: 100px; /* Ajusta según tus necesidades */
    width: 100%;
    border-radius: 8px; /* Opcional: agrega bordes redondeados */
}

.btn {
  background-color: #ff0000;
  border: #ff0000;
}
