<div class="container d-flex align-items-center justify-content-center" style="margin-top: -150px; height: 100vh;">
  <div class="card text-white" style="background-color: transparent; max-width: 1000px; padding: 2rem;">
    <div class="card-body">
      <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      
      <h4 class="text-center" style="font-size: 2rem; margin-bottom: 2rem; font-family: 'ADLaM Display', system-ui; color: #ff0000;">
        ¡Hola! Bienvenido a UNIEVENTOS
      </h4>
      
      <h5 class="text-center" style="font-size: 1.5rem; margin-bottom: 3rem;">
        Iniciar sesión
      </h5>
      
      <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate="">
        
        <div class="mb-4" style="max-width: 400px; margin: auto;">
          <label style="font-size: 1.2rem;">Email:</label>
          <input type="email" class="form-control border" formControlName="email" 
                 style="font-size: 1.1rem; padding: 0.75rem; background-color: #ffffff; border: 2px solid #ff0000 !important; color: #000;" />
        </div>

        <div class="mb-4 position-relative" style="max-width: 400px; margin: auto;">
          <label style="font-size: 1.2rem;">Contraseña:</label>
          <input type="password" class="form-control border" formControlName="password" 
                 style="font-size: 1.1rem; padding: 0.75rem; background-color: #ffffff; border: 2px solid #ff0000!important; color: #000;" />
        </div>

       
        <div class="text-center mt-2" style="max-width: 400px; margin: auto;">
          <button type="submit" class="btn btn" [disabled]="loginForm.invalid" style="font-size: 1.2rem; color:#ffffff; padding: 0.4rem; width: 35%;">
            Iniciar Sesión
          </button>
        </div>

      
        <div class="text-center mt-4">
          <a routerLink="/olvide-contrasenia" class="text-decoration-underline text-white" style="font-size: 1.2rem; cursor: pointer;">¿Olvidaste tu contraseña?</a>
        </div>

      
        <div class="text-center mt-5" style="font-size: 1.2rem; color: white;">
          ¿No tienes cuenta? 
          <a routerLink="/registro" class=" text-decoration-underline" style="cursor: pointer; color:#ff0000;">Regístrate</a>
        </div>

      </form>
    </div>
  </div>
</div>
