<div class="container mt-5 mb-5" style="margin-top: -400px; height: 130vh;">
    <!-- Sección de búsqueda -->
    <div class="p-4 bg-light text-center rounded shadow-sm" style="margin-top: -100px;">
      <div class="row g-2">
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-text text-danger"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Buscar Eventos, Escenarios...">
          </div>
        </div>
        <div class="col-md-3">
          <select class="form-select">
            <option selected>Categorías</option>
            <!-- Opciones adicionales aquí -->
          </select>
        </div>
        <div class="col-md-3">
          <select class="form-select">
            <option selected>Todas las ciudades</option>
            <!-- Opciones adicionales aquí -->
          </select>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-text text-danger"><i class="fa fa-calendar"></i></span>
            <input type="date" class="form-control" placeholder="Seleccione fecha">
          </div>
        </div>
      </div>
    </div>

    <!-- Espacio adicional entre la barra de búsqueda y el botón -->
    <div class="text-center mt-4" style="max-width: 400px; margin: 2rem auto;">
      <button type="submit" class="btn btn-danger" style="font-size: 1.2rem; color:#ffffff; padding: 0.2rem; width: 20%;">Buscar</button>
    </div>

    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Título de eventos con línea roja debajo de tamaño ajustado al texto -->
    <h4 class="text-left" style="font-size: 1.7em; margin-bottom: 0rem; font-family: 'ADLaM Display', system-ui; color: #FFFFFF; display: inline-block; border-bottom: 2px solid red;">
        EVENTOS
    </h4>

    <!-- Contenedor de tarjetas de eventos con espacio reducido entre tarjetas -->
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
      <div *ngFor="let evento of eventos" class="col">
        <div class="card text-center shadow-sm" style="width: 100%; height: 350px; border-radius: 15px; background-color: #ffffff; color: #000000;">
          <div class="position-relative">
            <img [src]="evento.urlImagenPoster" class="card-img-top" alt="Evento" style="width: 100%; height: 226px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;"(click)="irADetalle(evento.nombre)">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="font-size: 18px; font-family: 'ADLaM Display', system-ui;">{{ evento.nombre }}</h5>
            <p class="card-text text-muted" style="font-size: 1rem; margin-top: -5px; font-family: 'Montserrat', sans-serif; font-weight: bold;">{{ evento.direccion }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div style="text-align: center; margin-top: -20px;">
                <span style="font-size: 1.4rem; font-weight: bold; color: red; display: block;">{{ evento.fecha}}</span>
              </div>
              <button class="btn btn-danger" (click)="irACompra(evento.nombre)" style="font-size: 0.8rem; padding: 0.3rem 0.6rem; border-radius: 5px;">Comprar Entrada</button>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>
