<div class="container-fluid">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 header-custom">
      <div class="col-md-3 mb-2 mb-md-0">
          <a routerLink="/filtrar-eventos" class="d-inline-flex link-body-emphasis text-decoration-none align-items-center">
              <img src="https://firebasestorage.googleapis.com/v0/b/unieventos-54199.appspot.com/o/logo.png?alt=media&token=f02c0bea-0419-4e41-a5f9-a933da9def3c" alt="Icono" routerLink="/filtrar-eventos" class="fs-3 icono">
             
          </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-end mb-md-0">
          
     </ul>

     <!-- Agrega el enlace de Google Fonts en el <head> de tu HTML -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <div class="col-md-4 text-end" style="margin-top: -70px;"> <!-- Ajuste vertical -->
            <i routerLink="/inicio" class="fa-solid fa-house fa-xl" style="color: #ffffff; margin-right: 15px; font-size: 1.5rem;"></i>
            <button type="button" routerLink="/activar-cuenta" class="btn btn-outline custom-font me-3">Eventos</button>
            <button type="button" routerLink="/login" class="btn btn-outline custom-font me-3">Ingresar</button>
            <button type="button" routerLink="/registro" class="btn btn-outline custom-font">Registrate</button>
    </div>

    
  </header>
</div>
